---
import UrbanPlateLogo from "../components/UrbanPlateLogo.astro"
---

<footer class="bg-black pt-8 text-white">
  <div class="mx-auto max-w-7xl p-4">
    <div class="flex items-center gap-8">
      <UrbanPlateLogo class="h-20 hover:opacity-50" />
      <p class="text-xl">
        Urban Plate is a side project of <a href="#" class="underline"
          >Corey Ginnivan</a
        >.
      </p>
    </div>

    <nav class="mt-16 flex justify-between">
      <div class="flex gap-6">
        <a href="#" class="font-semibold">About Urban Plate</a>
        <a href="#" class="font-semibold">Terms & Legal</a>
        <a href="#" class="font-semibold">Contact Us</a>
      </div>
      <div class="flex gap-6">
        <a href="#" class="font-semibold">Instagram</a>
      </div>
    </nav>
  </div>
</footer>
